{#<div class="bottom-content">#}
{#    {% set block = options.first_bottom_block %}#}

{#    {% if options.first_bottom_block %}#}
{#        <div class="block-more first-block" {% if block.color %} style="background-color: {{ block.color }}" {% endif %}>#}
{#            {% if block.image %}#}
{#                <img src="{{ TimberImage(block.image).src }}" alt="{{ block.image.alt }}" class="bg-img">#}
{#            {% endif %}#}
{#            <div class="content">#}
{#                {% if block.icon %}#}
{#                    <img src="{{ TimberImage(block.icon).src }}" alt="{{ block.icon.alt }}" class="icon">#}
{#                {% endif %}#}

{#                {% if block.title %}#}
{#                    <h3>#}
{#                        {{ block.title }}#}
{#                    </h3>#}
{#                {% endif %}#}
{#                {% if block.description %}#}
{#                    <div class="desc">#}
{#                        {{ block.description|wpautop }}#}
{#                    </div>#}
{#                {% endif %}#}
{#                {% if block.link %}#}
{#                    <a href="{{ block.link.url }}" target="{{ block.link.target }}"#}
{#                       class="button main-color-1 radius">#}
{#                        {{ block.link.title }}#}
{#                    </a>#}
{#                {% endif %}#}
{#            </div>#}
{#        </div>#}
{#    {% endif %}#}

{#    {% set block = options.second_bottom_block %}#}
{#    {% if options.second_bottom_block %}#}
{#        <div class="block-more second-block" {% if block.color %} style="background-color: {{ block.color }}" {% endif %}>#}
{#            {% if block.image %}#}
{#                <img src="{{ TimberImage(block.image).src }}" alt="{{ block.image.alt }}" class="bg-img">#}
{#            {% endif %}#}

{#            <div class="content">#}
{#                {% if block.icon %}#}
{#                    <img src="{{ TimberImage(block.icon).src }}" alt="{{ block.icon.alt }}" class="icon">#}
{#                {% endif %}#}

{#                {% if block.title %}#}
{#                    <h3>#}
{#                        {{ block.title }}#}
{#                    </h3>#}
{#                {% endif %}#}
{#                {% if block.description %}#}
{#                    <div class="desc">#}
{#                        {{ block.description|wpautop }}#}
{#                    </div>#}
{#                {% endif %}#}
{#                {% if block.link %}#}
{#                    <a href="{{ block.link.url }}" target="{{ block.link.target }}"#}
{#                       class="button main-color-1 radius">#}
{#                        {{ block.link.title }}#}
{#                    </a>#}
{#                {% endif %}#}
{#            </div>#}
{#        </div>#}
{#    {% endif %}#}

{#    {% set block = options.third_bottom_block %}#}
{#    {% if options.third_bottom_block %}#}
{#        <div class="block-more third-block">#}
{#            {% if block.image %}#}
{#                <img src="{{ TimberImage(block.image).src }}" alt="{{ block.image.alt }}" class="bg-img">#}
{#            {% endif %}#}

{#            <div class="content" {% if block.color %} style="background-color: {{ block.color }}" {% endif %}>#}
{#                {% if block.icon %}#}
{#                    <div class="icono">#}
{#                        <img src="{{ TimberImage(block.icon).src }}" alt="{{ block.icon.alt }}" class="">#}
{#                    </div>#}
{#                {% endif %}#}

{#                {% if block.title %}#}
{#                    <h3>#}
{#                        {{ block.title }}#}
{#                    </h3>#}
{#                {% endif %}#}
{#                {% if block.description %}#}
{#                    <div class="desc">#}
{#                        {{ block.description|wpautop }}#}
{#                    </div>#}
{#                {% endif %}#}
{#                {% if block.link %}#}
{#                    <a href="{{ block.link.url }}" target="{{ block.link.target }}"#}
{#                       class="button main-color-1 radius">#}
{#                        {{ block.link.title }}#}
{#                    </a>#}
{#                {% endif %}#}
{#            </div>#}
{#        </div>#}
{#    {% endif %}#}

{#    {% set block = options.fourth_bottom_block %}#}
{#    {% if options.fourth_bottom_block %}#}
{#        <div class="block-more fourth-block">#}
{#            {% if block.image %}#}
{#                <img src="{{ TimberImage(block.image).src }}" alt="{{ block.image.alt }}" class="bg-img">#}
{#            {% endif %}#}

{#            <div class="content" {% if block.color %} style="background-color: {{ block.color }}" {% endif %}>#}
{#                {% if block.icon %}#}
{#                    <div class="icono">#}
{#                        <img src="{{ TimberImage(block.icon).src }}" alt="{{ block.icon.alt }}" class="">#}
{#                    </div>#}
{#                {% endif %}#}

{#                {% if block.title %}#}
{#                    <h3>#}
{#                        {{ block.title }}#}
{#                    </h3>#}
{#                {% endif %}#}
{#                {% if block.description %}#}
{#                    <div class="desc">#}
{#                        {{ block.description|wpautop }}#}
{#                    </div>#}
{#                {% endif %}#}
{#                {% if block.link %}#}
{#                    <a href="{{ block.link.url }}" target="{{ block.link.target }}"#}
{#                       class="button main-color-1 radius">#}
{#                        {{ block.link.title }}#}
{#                    </a>#}
{#                {% endif %}#}
{#            </div>#}
{#        </div>#}
{#    {% endif %}#}

{#    {% set block = options.fifth_bottom_block %}#}
{#    {% if options.fifth_bottom_block %}#}
{#        <div class="block-more fifth-block">#}
{#            {% if block.image %}#}
{#                <img src="{{ TimberImage(block.image).src }}" alt="{{ block.image.alt }}" class="bg-img">#}
{#            {% endif %}#}
{#            <div class="content" {% if block.color %} style="background-color: {{ block.color }}" {% endif %}>#}
{#                <div class="icono">#}
{#                    <img src="{{ TimberImage(block.icon).src }}" alt="{{ block.icon.alt }}" class="">#}
{#                </div>#}

{#                {% if block.title %}#}
{#                    <h3>#}
{#                        {{ block.title }}#}
{#                    </h3>#}
{#                {% endif %}#}
{#                {% if block.description %}#}
{#                    <div class="desc">#}
{#                        {{ block.description|wpautop }}#}
{#                    </div>#}
{#                {% endif %}#}
{#                {% if block.link %}#}
{#                    <a href="{{ block.link.url }}" target="{{ block.link.target }}"#}
{#                       class="button main-color-1 radius">#}
{#                        {{ block.link.title }}#}
{#                    </a>#}
{#                {% endif %}#}
{#            </div>#}
{#        </div>#}
{#    {% endif %}#}
{#</div>#}

