<header id="header" class="header">
    <div class="container">
        <div class="left">
            {% if is_home %}
                <h1 class="logo" role="banner">
                    <a href="{{ site.url }}"
                       rel="home">
                        <img src="{{ parent.assets }}images/logo.svg" alt="{{ site.name }}" width="53" height="65" />
                    </a>
                </h1>
            {% else %}
                <div class="logo" role="banner">
                    <a href="{{ site.url }}" rel="home">
                        <img src="{{ parent.assets }}images/logo.svg" alt="{{ site.name }}" width="53" height="65"/>
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="right">
            <nav role="navigation" aria-label="{{ __('Primary Menu', 'gosselink') }}">
                {% include "partials/menu.twig" with {'menu': menu.get_items, 'location': menu.theme_location} %}
                
                <div class="menu-button-container">
                    <button id="primary-mobile-menu" class="button" aria-controls="primary-menu-list" aria-expanded="false">
                        <span class="dropdown-icon open">                        
                        </span>
                        <span class="dropdown-icon close">                        
                        </span>
                    </button><!-- #primary-mobile-menu -->
                </div><!-- .menu-button-container -->
            </nav>
        </div>
    </div>
</header>