<ul class="social-medias">
    {% if options.youtube %}
        <li>
            <a href="{{ options.youtube }}" class="youtube"></a>
        </li>
    {% endif %}
    {% if options.twitter %}
        <li>
            <a href="{{ options.twitter }}" class="twitter"></a>
        </li>
    {% endif %}
    {% if options.linkedin %}
        <li>
            <a href="{{ options.linkedin }}" class="linkedin"></a>
        </li>
    {% endif %}
    {% if options.facebook %}
        <li>
            <a href="{{ options.facebook }}" class="facebook"></a>
        </li>
    {% endif %}
    {% if options.instagram %}
        <li>
            <a href="{{ options.instagram }}" class="instagram"></a>
        </li>
    {% endif %}
    {% if options.tripadvisor %}
        <li>
            <a href="{{ options.tripadvisor }}" class="tripadvisor"></a>
        </li>
    {% endif %}
</ul>